
@{
    ViewBag.Title = "index1";
}

<!DOCTYPE html>

<html >
<head>
    <base href="/">
    <meta name="viewport" content="width=device-width" />
    <title>Gadget Store</title>
</head>
<body  class="container">
    test

</body>
</html>

